<html>
<head>
<title>ABOUT US</title>
</head>
<body bgcolor="#zzee44">
    <a href="collegelinks.html" target="_blank" >INTRODUCTION</a><br>
    <a href="aboutus.html" target="f3">ABOUT US</a><br>
<a href="courses.html" target="f3">COURSES</a><br>
<a href="fee.html" target="f3">FEE DETAILS</a><br>
<a href="facilities.html" target="f3">FACILITIES</a><br>
<a href="contactus.html" target="f3">CONTACT US</a><br>

    
<font size="15">
<p ALIGN="CENTER">ABOUT THE COLLEGE
<hr width="50%" size="8" color="hhneen">
MOTHER THERESA DEGREE COLLEGE.THIS IS AFFILIATED TO SRI VENKATESWARA UNIVERSITY,TIRUPATI.MELUMOI POST,PALAMANER-517408.
<p>
This is charan from v.kota. I am studying at MTDC.This is just 120km from Bangalor city.and also 120to 140 km from chennai city.
</P>
</P>
</font>
</html>
	