<!DOCTYPE html>
<head>
    <title>About The College</title>
    
</head>
<body bgcolor="yellow">
    <a href="Example.html" target="_blank" >INTRODUCTION</a>
    <font color="red" size="10">   
        <h1 align="center"> ABOUT</h1> 
    <p align="center">
    <a href="Home.html" target="_blank" >HOME</a>  
    <a href="Gallery.html" target="_blank">GALLERY </a> 
    <a href="About.html" target="_blank" >ABOUT </a>
    <a href="Contact.html" target="_blank" >CONTACT </a> 
    </p>  
    </font>

     
    
    <h1 align="center" >*ABOUT MTDC*</h1>
    <font color="green" size="8">
     <p align="justify">
    Mother Theresa Degree College is located in lush green environment, the College has witnessed a
    steady growth from 60 to more than 1500 students and is proud of its diverse student body, faculty and staff.
    Mother Theresa Degree College was established in the academic year
    2001-2002. This has been affiliated to Sri Venkateswara University, Tirupathi, Andhra Pradesh.

  
    <font color="red" size="10">
    <h2 align="center">FROM CHAIRMAN'S DESK</h2>
    <h1 align="center">M.R. Sunil, Chairman  </h1> 
    <p align="center">
    <img src="../Images/Chairman.jpg" width="450" height="400"/>
    </p>   
    </p>
</font>
    
    <p>
        Dear Students
     “Education is the most powerful weapon which you can use to change the world”- Nelson Mandela

     Education drives away the ignorance and through illumination. 
     It emboldens a man to righteous thought and action.The college stands for excellence and has been maintaining high standards in Academics.
    Catering to more than thousand students. Mother Theresa Degree College is considered to be one of the best and most sought colleges in chittoor district. The college has turned itself into a temple of learning with its indeliable and impeccable stamps of holistic development. Despite its rural setup,
     the college has already become a ray for the poor and meritorious students of this area.
     
     <font color="red" size="10">
    <h2 align="center"> FROM CORRESPONDENT'S DESK</h2>
    <h1 align="center">M. Ravindra Babu,</h1>
    <h2 align="center"> Correspondent/secretary</h2>


   
    <p align="center">
    <img src="../Images/Correspondent.jpeg" width="450" height="400"/>
    </p>   


    </p>
    </font>
</body>
</html> 